@import url(about.css);
@import url(contact.css);

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav {
  position: fixed;
  width: 80%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 12px 10%;
  height: 30px;
  z-index: 1;
  top: 20px;
}

.first-nav {
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  left: 0;
  gap: 40px;
  padding: 2px 10% 2px 5%;
  color: #fff;
  width: 85%;
  background: #313232;
  height: 17px;
  font-size: 10px;
}

.f-n-h {
  position: absolute;
  right: 15%;
  color: #fff;
}

.f-n-j {
  position: absolute;
  right: 10%;
  color: #fff;
}

.f-n-k {
  position: absolute;
  right: 20%;
  color: #fff;
}

.f-n-l {
  position: absolute;
  right: 25%;
  color: #fff;
}

.first-nav-div {
  font-family: 'lato', sans-serif;
}

.logo a {
  color: #272a31;
  font-family: 'lato', sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 20px;
}

.menu a {
  color: #272a31;
  font-family: 'lato', sans-serif;
}

.list:nth-child(6) {
  border: 4px solid #ec5242;
  padding: 6px;
}

.list:nth-child(1) {
  border: 4px solid #ec5242;
  padding: 6px;
}

.list:nth-child(6):hover {
  border: 4px solid #1c1c1c;
  padding: 6px;
  background-color: #ec5242;
  transition: all 0.5s ease-in-out;
}

.list:nth-child(1):hover {
  border: 4px solid #1c1c1c;
  transition: all 0.5s ease-in-out;
  padding: 6px;
}

.hamburger {
  display: none;
}

/* ---------------nav-meu ends --------------- */

.first-section {
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 10%;
  background-image: linear-gradient(180.45deg, rgba(182, 175, 175, 0) 2.75%, rgba(246, 242, 242, 0.9) 15.94%), url('capstone1-gym-photos/pexels-lukas-669584.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 120px;
}

.heading {
  font-family: 'lato', sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #ec5242;
}

.sec-heading {
  font-family: 'lato', sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #ec5242;
  font-weight: 700;
}

.heading-paragraph {
  font-size: 20px;
  padding-top: 40px;
  letter-spacing: 2px;
  padding-left: 3%;
  font-family: 'lato', sans-serif;
}

.third-heading {
  font-size: 35px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
  color: #272a31;
}

.heading-paragraph2 {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  padding-top: 5px;
}

.second-section {
  background-image: url(capstone1-gym-photos/istockphoto-1048636180-612x612.jpg);
  background-size: cover;
  background-repeat: repeat;
  padding-bottom: 50px;
}

.sec2-heading {
  color: #fff;
  text-align: center;
  padding-top: 50px;
  font-family: 'lato', sans-serif;
  margin-bottom: 5px;
}

.line1 {
  background-color: #ec5242;
  height: 2px;
  border: none;
  width: 40px;
  margin: auto;
}

.cards {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

footer div {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
}

.cards div {
  width: 15%;
  background: rgba(201, 195, 195, 0.2);
  margin: 2px;
  height: auto;
  text-align: center;
  padding: 30px 10px;
  font-family: 'lato', sans-serif;
}

.trainers div {
  flex-grow: 1;
}

.cards div:hover {
  border: #fff solid 1px;
}

footer h3 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 35px;
}

.cards h3 {
  color: #ec5242;
  margin-bottom: 20px;
}

.cards p {
  color: #fff;
}

.card i {
  color: #fff;
  padding-bottom: 10px;
}

.second-section-end {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: 'lato', sans-serif;
  border-bottom: 1px solid #fff;
  width: 180px;
  margin: 70px auto 20px auto;
  cursor: pointer;
}

.second-section-end-mobile {
  display: none;
}

.third-section {
  padding: 30px 10%;
  font-family: 'lato', sans-serif;
}

.third-section-header {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.first-speaker {
  width: 40%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.first-speaker-div {
  line-height: 15px;
}

.first-speaker img {
  width: auto;
  margin-right: 20px;
  height: 120px;
}

.images {
  width: 200px;
  margin-right: 20px;
  height: 120px;
}

.first-speaker-h3 {
  font-size: 18px;
  padding-bottom: 5px;
}

.first-speaker-p1 {
  font-size: 12px;
  padding-bottom: 10px;
  color: #ec5242;
  font-weight: 500;
}

.first-speaker-p2 {
  font-size: 12px;
}

.trainers {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 45%;
  padding-top: 25px;
}

footer {
  color: #d3d3d3;
  background-color: #272a31;
  font-family: 'lato', sans-serif;
}

footer h2 {
  margin-top: 20px;
  padding-top: 30px;
  text-align: center;
}

.solid {
  opacity: 0.8;
}

.light {
  opacity: 0.5;
}

.footer-bottom {
  background: #d3d3d3;
  color: #272a31;
  margin-top: 30px;
}

.footer-bottom-header {
  padding-top: 50px;
}

.footer-bottom-paragraph {
  padding-top: 50px;
  margin-bottom: 50px;
}

.button {
  display: none;
}

@media (max-width: 765px) {
  .first-nav {
    display: none;
  }

  .list:nth-child(6) {
    border: none;
    padding: 0;
  }

  .list:nth-child(1) {
    border: none;
    padding: 0;
  }

  .sec-heading {
    font-family: 'lato', sans-serif;
    font-size: 40px;
    line-height: 50px;
    color: #ec5242;
    text-transform: uppercase;
  }

  .hamburger {
    display: block;
    padding-right: 8.5%;
    position: absolute;
    cursor: pointer;
  }

  .ham1 {
    margin: 5px 0;
    background: #111;
    height: 4px;
    width: 30px;
    transition: all 0.3s ease;
  }

  .ham2 {
    margin: 5px 0;
    background: #111;
    height: 4px;
    width: 30px;
    transition: all 0.3s ease;
  }

  .ham3 {
    margin: 5px 0;
    background: #111;
    height: 4px;
    width: 30px;
    transition: all 0.3s ease;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .logo {
    position: absolute;
    top: 53px;
    left: -100%;
    transition: all 0.3s ease-in-out;
    text-align: center;
    background: #fff;
    width: 85%;
    padding: 2%;
    font-size: 40px;
    z-index: 1;
  }

  .menu {
    display: block;
    top: 90px;
    position: absolute;
    line-height: 70px;
    left: -100%;
    transition: all 0.3s ease-in-out;
    text-align: center;
    background: #fff;
    width: 85%;
    height: 100vh;
    font-size: 30px;
    margin-top: 20px;
  }

  .heading-paragraph {
    font-size: 15px;
    padding-top: 30px;
    letter-spacing: 0;
    line-height: 20px;
    padding-left: 3%;
    font-family: 'lato', sans-serif;
  }

  .hamburger.active .ham1 {
    transform: rotate(45deg) translateY(10px);
    transition: all 0.3s ease;
  }

  .hamburger.active .ham3 {
    transform: rotate(-45deg) translateY(-14px);
    transition: all 0.3s ease;
  }

  .hamburger.active .ham2 {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu.in-active {
    left: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
    background: #fff;
    width: 85%;
    height: 100vh;
    font-size: 30px;
    margin-top: 20px;
  }

  .logo.in-active {
    text-align: center;
    left: 0;
    transition: all 0.3s ease-in-out;
    background: #fff;
    width: 85%;
    padding: 2%;
    font-size: 40px;
    z-index: 1;
  }

  main {
    margin: 0;
    padding-top: 20px;
    top: 40px;
  }

  .toggle {
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
  }

  .hamm1 {
    transform: rotate(45deg) translateY(4px);
    width: 18px;
    height: 2px;
    margin: 4px 0;
    background: #fff;
  }

  .hamm3 {
    transform: rotate(-45deg) translateY(-4px);
    width: 18px;
    height: 2px;
    margin: 4px 0;
    background: #fff;
  }

  .hamm2 {
    opacity: 0;
  }

  .form {
    height: auto;
    position: fixed;
    top: 30%;
    margin: auto 12px auto 12px;
    justify-content: center;
    align-items: center;
    border: 2px solid #ec5242;
    padding: 20px 25px;
    width: auto;
    left: 24px;
    right: 24px;
    background: #1c1c1c;
    z-index: 1;
    display: none;
    border-radius: 10px;
  }

  .name {
    border: none;
    background-color: rgb(243, 240, 240);
    color: #313232;
    padding: 10px 5px;
    width: 100%;
    height: auto;
  }

  .email {
    border: none;
    width: 100%;
    background-color: rgb(243, 240, 240);
    color: #313232;
    padding: 10px 5px;
    height: auto;
  }

  .textarea {
    width: 100%;
    height: auto;
  }

  .nameErr {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  .emailErr {
    position: absolute;
    right: 20px;
    top: 85px;
  }

  .textErr {
    position: absolute;
    right: 25px;
    bottom: 80px;
  }

  .btn2 {
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin: auto;
    left: 30%;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    background: #1c1c1c;
    border-radius: 5px;
  }

  .button {
    justify-content: center;
    display: flex;
    font-size: 12px;
    text-align: center;
    margin-top: -80px;
    border: 2px solid #d3d3d3;
    color: #313232;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    height: 20px;
  }

  .btn {
    color: #ec5242;
  }

  .hide {
    position: absolute;
    display: none;
  }

  .hide.tap {
    display: block;
    position: relative;
    top: 0;
    transition: all 0.9s ease-in-out;
  }

  .button.select {
    cursor: pointer;
    margin-top: -10px;
    transition: all 0.5s ease-in-out;
  }

  footer h3 {
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
  }

  .line11 {
    display: block;
  }

  .footer {
    display: none;
  }

  .first-speaker {
    display: flex;
    width: 100%;
  }

  .second-section-end {
    display: none;
  }

  .second-section-end-mobile {
    font-family: 'lato', sans-serif;
    display: block;
    font-size: 20px;
    margin: 70px auto 20px auto;
    color: #fff;
    text-align: center;
    border: 1px solid white;
    padding: 25px 30px;
    background: #ec5242;
    width: 60%;
    cursor: pointer;
  }

  .heading {
    font-family: 'lato', sans-serif;
    font-size: 22px;
    font-weight: 200;
    color: #ec5242;
    padding-top: 20px;
  }

  .cards div {
    width: 100%;
    background: rgba(201, 195, 195, 0.3);
    margin: 2px;
    height: auto;
    text-align: center;
    padding: 30px 10px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    align-items: center;
  } 
  
  .card h3 {
    width: 50%;
    margin-right: 10px;
    text-align: left;
  }

  .card p {
    text-align: left;
    width: 100%;
    font-size: 12px;
  }

  .card i {
    margin-right: 5px;
    width: 40%;
  }
}
